body,
button,
select,
input {
  font-family: CircularAir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: "CircularAir Normal";
  font-style: normal;
  src: url("fonts/Circular_Air-Book.woff") format("woff"),
    url("fonts/Circular_Air-Book.ttf") format("truetype");
}
@font-face {
  font-family: "CircularAir";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Circular_Air-Bold.woff") format("woff"),
    url("fonts/Circular_Air-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAir";
  font-style: normal;
  font-weight: lighter;
  src: url("fonts/Circular_Air-Light.woff") format("woff"),
    url("fonts/Circular_Air-Light.ttf") format("truetype");
}
